body {
font-family: Arial, sans-serif;
display: grid;
place-items: center;
height: 100vh;
margin: 0;
background-color: #17284a;
background-image: url(bg.png);
 background-size: 100px;

}

.calender {
background-color: #344b8c;
border-radius: 10px;
box-shadow: 0 0 30px #071a50;
overflow: hidden;
width: 800px;
height: 500px;
color: rgb(182, 204, 224);
padding: 20px;
}
.month {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}

.weekdays {
    display: grid;
    grid-template-columns: 122px 122px 122px 122px 122px 122px 122px ;
    align-content: center;
    justify-content: space-around;
    padding-left: 20px;
     grid-template-rows: 60px ;
}
.wk1 {
     display: grid;
    grid-template-columns: 122px 122px 122px 122px 122px 122px 122px ;
    align-content: center;
    justify-content: space-around;
    padding-left: 20px;
     grid-template-rows: 70px ;
}
.wk2 {
     display: grid;
    grid-template-columns: 122px 122px 122px 122px 122px 122px 122px ;
    align-content: center;
    justify-content: space-around;
     grid-template-rows: 70px ;
     padding-left: 20px;
}
.wk3 {
     display: grid;
    grid-template-columns: 122px 122px 122px 122px 122px 122px 122px ;
    align-content: center;
    justify-content: space-around;
     grid-template-rows: 70px ;
     padding-left: 20px;
}
.wk4 {
     display: grid;
    grid-template-columns: 122px 122px 122px 122px 122px 122px 122px ;
    align-content: center;
    justify-content: space-around;
     grid-template-rows: 70px ;
     padding-left: 20px;
}
.wk5 {
     display: grid;
     grid-template-rows: 70px ;
    grid-template-columns: 122px 122px 122px 122px 122px 122px 122px ;
    align-content: center;
    padding-left: 20px;
    justify-content: space-around;
    
}
.wk1, .wk2, .wk3, .wk4, .wk5 {
    cursor: pointer;
}
.inst {
    color: rgb(182, 204, 224);
    height: 50;
    align-content: center;
}
.bday:hover{
    color: #17284a;
    opacity: 50;
    transition: ease-in;
}

.day:hover{
    color: #17284a;
    opacity: 50;
    transition: ease-in;
}
a{
    color: rgb(182, 204, 224);
    text-decoration: none;
}


.msg {
    background-color: #344b8c;
    border-radius: 10px;
    box-shadow: 0 0 30px #071a50;
    overflow: hidden;
    width: 800px;
    height: 500px;
    color: rgb(182, 204, 224);
    padding: 20px;
  display: grid;
  grid-row: 1 / 4;
  grid-column: 1 / 3;
  grid-gap: 10px;
   
 
}
.home{
   grid-row: 1 / 2; 
 grid-column: 1 / 3;
 padding-right: 100px;
 padding-left: 50px;
 padding-top: 25px;
 font-size: 15px;
}


.img1 {
  grid-row: 2 / 4;
  grid-column: 1 / 2 ;
  padding-left: 50px;
  padding-bottom: 50px;
  height: max-content;
  img {
 
  width: 300px;
  border-radius: 10px;
}
}
.spc {
 grid-row: 1 / 2; 
 grid-column: 1 / 3;
 
align-items: center;
padding-left: 250px;

    
}

.mntxt {
  grid-row: 2 / 3;
  grid-column: 2 / 3 ;
  grid-template-columns: 200px;
  grid-template-rows: 50px;
  padding-left: 50px;
  padding-top: 20px;
  height: max-content;
}
.img2 {
  position: relative;
  grid-row: 3 / 4;
  padding: 20px;
  grid-column: 2 / 3 ;
  height: max-content;
  padding-left: 120px;
  padding-bottom: 100px;
  align-content: center;
  transition: 0.3s;
  img {

  width: 200px;
  border-radius: 10px;
}
}

.img2:hover {
  opacity: 60%;
}
.contentlist {
   background-color: #344b8c;
    border-radius: 10px;
    box-shadow: 0 0 30px #071a50;
    overflow: hidden;
    width: 600px;
    height: 550px;
    color: rgb(182, 204, 224);
    padding: 20px;
 
}
.gift1 {
   display: grid;
  grid-gap: 10px;
  border: #08090a;
  grid-row: 1 / 2; 
  grid-column: 1 / 4;
  height: max-content;
  align-items: center;
  padding-left: 220px;
  img {
     width: 135px;

  } 
}
.gift2 {
  display: grid;
  grid-gap: 10px;
 border: #08090a;
  grid-row: 2 / 3; 
  grid-column: 1 / 4;
  height: max-content;
  align-items: center;
  padding-left: 210px;
  img {
     width: 150px;

  } 
}
.gift3 {
  display: grid;
  grid-gap: 10px;
 border: #08090a;
  grid-row: 3 / 4; 
  grid-column: 1 / 4;
  height: max-content;
  align-items: center;
  padding-left: 220px;
  img {
     width: 150px;

  } 
}
.cnttitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}

.material-icons{
  position: relative;
  text-decoration: none;
  color: #071a50;
  transition: 0.3s;
}
.material-icons > i {
font-size: 3.2em;
}
.material-icons:hover{
  color: #b1b8ce;
}

.meme {
  grid-row: 2 / 4;
  grid-column: 1 / 2 ;
  padding-left: 50px;
  padding-bottom: 50px;
  height: max-content;
  img {
 
  width: 300px;
  border-radius: 10px;
}
}
.mnttle {
 grid-row: 1 / 2; 
 grid-column: 1 / 3;
 
align-items: center;
padding-left: 300px;

    
}

.bdytxt {
  grid-row: 2 / 4;
  grid-column: 2 / 3 ;
  grid-template-columns: 200px;
  grid-template-rows: 50px;
  width: 300px;
  font-size: large;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 90px;
  height: max-content;
}
.contentlist2 {
   background-color: #344b8c;
    border-radius: 10px;
    box-shadow: 0 0 30px #071a50;
    overflow: hidden;
    width: 630px;
    height: 630px;
    color: rgb(182, 204, 224);
    padding: 20px;
 
}
.letter {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
   padding-top: 20px;
  font-size: 16.5px;
  color: #c292b7;
}
.bdytxt2{
  grid-row: 2 / 4;
  grid-column: 2 / 3 ;
  grid-template-columns: 200px;
  grid-template-rows: 50px;
  width: 300px;
  font-size: large;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  height: max-content;
}
.mnttle2 {
 grid-row: 1 / 2; 
 grid-column: 1 / 3;
 
align-items: center;
padding-left: 200px;

    
}
.poster {
  padding-left: 120px;
  height: max-content;
  padding-bottom: 50px;
  border: #08090a;
  img {
    width: 370px;
    border-radius: 10px;
    border: #08090a;
    box-shadow: 0 0 30px #071a50;
}
}
.animate {
  padding-left: 65px;
  height: max-content;
  padding-top: 10px;
  padding-bottom: 50px;
  border: #08090a;
   align-content: center;
  iframe {
    height: 500px;
    width: 500px;
    border-radius: 10px;
    border: #08090a;
    box-shadow: 0 0 30px #071a50;
}
}
